:root{
    --mainFont: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --mainFontSize: 15px;
    --mainColor:white;
    --secondaryColor:rgba(255, 255, 255, 0.527);
    --pageWidth: 85%;
    --boxColor:rgb(245,245,247);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #141618;
}
nav{
    display: flex;
    flex-direction: column;
    width:var(--pageWidth);
    height: 10vh;
    margin: 21px auto auto 5%;
    position: absolute;
}
nav h1,span{
    font-family: var(--mainFont);
}
nav h1{
    font-size: var(--mainFontSize);
    color: var(--mainColor);
}
nav span{
    font-size: 10px;
    color: var(--secondaryColor);
    margin: -5px 0px 0px 0px;
    min-height: 2em;
}
.container{
    display: flex;
    width: var(--pageWidth);
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container h1{
    font-family: var(--mainFont);
    color: var(--secondaryColor);
    font-size: var(--mainFontSize);
    pointer-events: none;
}
footer{
    font-family: var(--mainFont);
    font-size: 10px;
    color:var(--secondaryColor);
    text-align: center;
    pointer-events: none;
    margin: auto auto 10px auto;
    letter-spacing: 5;
}